@tailwind base;
@tailwind components;
@tailwind utilities;

#choose > button {
    padding: 1rem;

    position: absolute;
    transform: translate(-50%, -50%) rotate(calc(72deg * calc(var(--position, 1) - 1) - 90deg)) translateX(10rem) rotate(calc(-72deg * calc(var(--position, 1) - 1) + 90deg));
}

#choose button > div {
    height: 5rem;
    width: 5rem;

    background: var(--background) no-repeat,
                white;
    background-position: center
   
}