@tailwind base;
@tailwind components;
@tailwind utilities;

#choose > button {
    display: grid;
    place-items: center;
    
    transform: translate(-50%, -50%) rotate(calc(72deg * calc(var(--position, 1) - 1) - 90deg)) translateX(10rem) rotate(calc(-72deg * calc(var(--position, 1) - 1) + 90deg));
}

#choose button > div {
    background: var(--background) no-repeat center,
                white;
    background-size: 60%;
}